<% if current_user.present? %>
  <div class="d-flex justify-content-between">
  <h4 class="mx-4 mt-2">Welcome <%= current_user.first_name %> to Bank online</h5>
  <div class="mx-2 mt-2">
  <div class="d-flex flex-row-reverse">
    <h5 class="mx-4"><span style="color: blue;">Account Number:</span> <%= @bank_account.account_number %></h5>
    <h5><span style="color: green;">Account balance:</span> $<%= @bank_account.balance %></h5>
  </div>

  <div class="d-flex flex-row-reverse">
    <%= link_to "Show Transactions History", payment_transactions_path, class: "btn btn-secondary mx-4" %>
    <%= link_to "Send Money", initiate_transaction_payment_transactions_path, class: "btn btn-success" %>
  </div>
  </div>
  </div>
<% end %>
